h1 {
  color: #ffffff;
  font-weight: 900;
  margin: 20px;
}
h1::first-letter {
  text-transform: capitalize;
}
h5 {
  font-size: 50px;
}
h4 {
  color: #ffffff;
  position: relative;
  left: 10px;
}
p {
  color: #ffffff;
}
a {
  color: #ffffff;
}
.weather-units .active {
  text-decoration: none;
  cursor: default;
  color: #1a2980;
}
.weather-units .active:hover {
  text-decoration: none;
}
.units {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  top: -30px;
  left: 16px;
}
.temperature {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  position: relative;
  left: 10px;
}

.container {
  font-family: "Spartan", sans-serif;
  padding-top: 80px;
  max-width: 750px;
  margin-top: 50px;

  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.search-bar-body {
  padding: 15px;
}
.current-weather {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  left: -10px;
  list-style: none;
  color: #ffffff;
}
.air-quality {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  left: 450px;
  bottom: 90px;
  list-style: none;
}

.card-header {
  font-weight: 700;
}
.card-footer {
  font-weight: 700;
}

.row {
  position: relative;
  bottom: 30px;
  margin: 0 auto;
}
.col {
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
}
.btn-outline-primary,
.btn-outline-info,
.btn-outline-success {
  text-align: left;
  cursor: text;
}

.icon {
  position: relative;
  bottom: 15px;
}
.weather-forecast-temperature {
  color: #ffffff;
  position: relative;
  left: 20px;
  font-weight: 900px;
}
